{% load static %}
<div class="uk-section uk-margin-medium-top uk-background-cover"  style="background-image: url({% get_media_prefix %}logo/block-top-bg.png);">
    <div class="uk-container">

        <h3>Приложение для формирования заявок</h3>

        <div class="uk-grid-match uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
            <div class="uk-width-1-5@l uk-width-1-1@s">
                <img src="{% get_media_prefix %}logo/logo320.png" alt="SAG" width="25%" uk-responsive>
            </div>
            <div class="uk-width-expand@l uk-width-1-1@s">
                <p>Маркетинг лучший друг логистики. Маркетинг и логистика - это основа всего бизнеса. Если правильно выбран товар, рынок и логистические каналы, то отделу продаж отводится чисто техническая роль по заключению договоров с клиентами.</p>
                <p></p>
            </div>
        </div>

    </div>
</div>