{% load static %}
<link rel="stylesheet" href="{% static '/css/uikit.min.css' %}">

<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>

<link href="{% static '/css/css/fontawesome.css' %}" rel="stylesheet">
<link href="{% static '/css/css/brands.css' %}" rel="stylesheet">
<link href="{% static '/css/css/solid.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static '/css/flatpickr.min.css' %}">
    <script src="{% static '/css/flatpickr.min.js' %}"></script>
    <script src="{% static '/css/ru.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/material_blue.css' %}">

<style>
    .green {
        border-left: 6px solid green;
        height: inherit;
        left: 50%;
        margin-left: -3px;
        top: 0;
    }
    .orange {
    border-left: 6px solid orange;
    height: inherit;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
    .red {
    border-left: 6px solid red;
    height: inherit;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
    .gray {
    border-left: 6px solid gray;
    height: inherit;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

</style>