{% load static %}

<script src="{% static 'js/uikit.js' %}"></script>
<script src="{% static 'js/uikit-icons.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.table2excel.min.js' %}"></script>



{#<script>#}
{#    $("#data").change(function () {#}
{#        var email = $(this).val();#}
{##}
{#        $.ajax({#}
{#            url: '/handbook/country-list/',#}
{#            data: {#}
{#                'email': email#}
{#            },#}
{#            dataType: 'json',#}
{#            success: function (data) {#}
{#                if (data.yes) {#}
{#                    alert("Пользователь с таким email уже существует!");#}
{#                }#}
{#            }#}
{#        });#}
{##}
{#    });#}
{#</script>#}